/**
 * Simulasi APBN
 *
 * Program ditulis oleh Danang Galuh Tegar Prasetyo (https://danang.id/)
 * untuk Kementerian Keuangan Republik Indonesia.
 */
:root {
    -moz-tab-size: 4;
    tab-size: 4;
    --primary: #005fac;
    --secondary: #fcb813;
    --black: rgba(17, 24, 39, 1);
    --white: rgba(239, 246, 255, 1);
}

* {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-family: "Nunito", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-size: 100%;
    min-height: 100vh;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    color: var(--black);
    overflow-x: hidden;
}

.navigation {
    height: 4rem;
    margin-left: auto;
    margin-right: auto;

    top: 0;
    left: 0;
    right: 0;
    z-index: 30;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navigation .ministry-logo {
    width: auto;
    height: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.wrapper {
    min-height: calc(100vh - 4rem);
    width: calc(100vw);
}

.application-logo {
    width: 75%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .application-logo {
        width: 40%;
    }
}