@*
    Simulasi APBN

    Program ditulis oleh Danang Galuh Tegar Prasetyo (https://danang.id/)
    untuk Kementerian Keuangan Republik Indonesia.
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Tidak Didukung";
}

<div class="d-flex flex-column justify-content-center align-items-center text-center  w-100 p-4"
     style="min-height: calc(100vh - 4rem);">
    <img class="application-logo"
         src="~/media/application-logo.png"
         alt="Simulasi APBN"/>
    <h3 class="mt-5 mb-3">
        <i class="fas fa-fw fa-sm fa-exclamation-triangle"></i>&nbsp;Terjadi kesalahan
    </h3>
    <p class="mb-3">
        <strong>Peramban yang Anda gunakan tidak mendukung aplikasi ini.</strong><br/>
        Silakan gunakan peramban yang lebih modern.
    </p>
    <p>
        <em>
            Kami menyarankan Anda menggunakan peramban
            <a href="https://www.microsoft.com/id-id/edge" target="_blank">Microsoft Edge</a>.
        </em>
    </p>
</div>