/**
 * Simulasi APBN
 *
 * Program ditulis oleh Danang Galuh Tegar Prasetyo (https://danang.id/)
 * untuk Kementerian Keuangan Republik Indonesia.
 */
.screen {
	@apply flex flex-col justify-start overflow-hidden;
	min-height: calc(100vh - 4rem);

	.content {
		@apply bg-gray-200 dark:bg-gray-900 flex flex-col justify-start overflow-hidden;
		height: calc(100vh - 4rem);
	}
}
