@*
    Simulasi APBN

    Program ditulis oleh Danang Galuh Tegar Prasetyo (https://danang.id/)
    untuk Kementerian Keuangan Republik Indonesia.
*@
<div class="copyright text-center my-auto">
    <span>
        Hak Cipta &copy; {{
	    (new Date()).getFullYear() == 2020 ? `${(new Date()).getFullYear()}` : `2020 - ${(new Date()).getFullYear()}`
        }} Kementerian Keuangan Republik Indonesia.
    </span>
</div>