@*
    Simulasi APBN

    Program ditulis oleh Danang Galuh Tegar Prasetyo (https://danang.id/)
    untuk Kementerian Keuangan Republik Indonesia.
*@
<!--
Simulasi APBN

Program ini ditulis oleh Danang Galuh Tegar Prasetyo (https://danang.id/)
untuk Kementerian Keuangan Republik Indonesia.
-->
<!DOCTYPE html>
<html lang="id" xml:lang="id" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="robots" content="noindex, nofollow" />
    <meta name="author" content="Kementerian Keuangan Republik Indonesia, Danang Galuh Tegar Prasetyo (https://danang.id/)">
    <meta name="description" content="Gerbang Simulasi APBN">

    <title>Gerbang Simulasi APBN @(ViewBag.Title is not null ? ": " + ViewBag.Title : "" )</title>
    <partial name="_PageIconPartial" />
    
    <partial name="_GoogleTagManagerScriptPartial" />
    
    <!-- Custom fonts -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <environment include="Development">
        <link href="~/styles/layout.font.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link href="~/styles/layout.font.min.css" rel="stylesheet">
    </environment>

    <!-- Custom styles -->
    <environment include="Development">
        <link href="~/styles/layout.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link href="~/styles/layout.min.css" rel="stylesheet">
    </environment>
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="bg-gradient-primary">
<partial name="_NoScriptPartial"/>
<div id="app" class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="~/media/ministry-logo-with-title.png" height="105" alt="Kementerian Keuangan Republik Indonesia">
                                </div>
                                <hr/>
                                @RenderBody()
                                <hr/>
                                <!-- Copyright -->
                                <div class="container my-auto">
                                    <div class="copyright text-center my-auto">
                                        <span>&copy; {{new Date().getFullYear()}} Kementerian Keuangan RI.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_FigletScriptPartial"/>
<partial name="_VueScriptPartial"/>
<partial name="_SweetAlertScriptPartial"/>
<partial name="_BootstrapJQueryScriptPartial" />

<!-- Custom scripts for all pages -->
<environment include="Development">
    <script src="~/scripts/layout.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/scripts/layout.min.js"></script>
</environment>

@await RenderSectionAsync("Scripts", required: false)
</body>

</html>