@*
    Simulasi APBN

    Program ditulis oleh Danang Galuh Tegar Prasetyo (https://danang.id/)
    untuk Kementerian Keuangan Republik Indonesia.
*@
@page
@model Required

@{
    Layout = "_Layout";
}

<div class="d-flex flex-column justify-content-center align-items-center text-center  w-100 p-4"
     style="min-height: calc(100vh - 4rem);">
    <img class="application-logo"
         src="~/media/application-logo.png"
         alt="Simulasi APBN"/>
    <h3 class="mt-5 mb-3">
        <i class="fas fa-fw fa-sm fa-exclamation-triangle"></i>&nbsp;Pemasangan diperlukan
    </h3>
    <p>
        Mohon ikuti <strong>Panduan Pemasangan Rev-02</strong> yang disertakan bersama dengan
        Paket Aplikasi Simulasi APBN.
    </p>
</div>